:root {
  --main-font: "DM Serif Display", serif;
  --sub-font: "Poppins", sans-serif;
  --button-color: #d9806f;
}

h1 {
  font-family: var(--main-font);
  font-size: 80px;
  color: white;
}

h2 {
  font-family: var(--main-font);
  font-size: 64px;
}

p {
  font-family: var(--sub-font);
  font-size: 16px;
  line-height: 1.5;
}

.logo {
  max-width: 100px;
}

nav {
  padding: 15px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 70px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: rgb(1, 5, 4);
}

nav a:hover,
nav li.active a {
  color: var(--button-color);
}

.hero {
  background-color: rgb(1, 5, 4);
  text-align: center;
  padding: 160px 20px;
}

.hero h3 {
  font-size: 30px;
  font-family: var(--sub-font);
  font-weight: bold;
  margin: 0;
  color: white;
}

.hero h2 {
  font-family: var(--sub-font);
  font-weight: normal;
  font-size: 24px;
  margin: 20px 0;
  color: white;
}

.btn-primary-button {
  border-radius: 4px;
  background: var(--button-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  margin-top: 50px;
  color: white;
}

.btn-button-outline {
  border-color: var(--button-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  color: #d9806f;
}

.image {
  width: 100%;
  max-width: 600px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}

.row {
  margin: 100px 30px;
  padding: 0;
}

.featured-text {
  font-size: 30px;
}

.projects-contain {
  margin-top: 100px;
}

/* desktop only*/
@media (min-width: 576px) {
  .project-copy {
    margin: 30px;
  }
  .about-me-copy {
    margin: 30px;
  }
}
/* mobile only*/
@media (max-width: 768px) {
  h1 {
    font-size: 65px;
  }
  .row {
    margin: 50px 15px;
  }
  h2 {
    font-size: 45px;
  }

  .logo {
    max-width: 60px;
  }
}

/* About Me */

.about-me {
  color: black;
}

.about-hero {
  text-align: center;
  padding: 160px 20px 0;
}

.about-contain {
  margin-top: 0;
}

.my-image {
  width: 100%;
  max-width: 700px;
}

.work-hero {
  text-align: center;
  padding: 160px 20px 0;
}

.my-work {
  color: black;
}

.work-image {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}
